<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="/" />
		<title> Joe Bosman</title>
		<link rel="icon" href="images/siteFavicon.png" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="/style.css" />
    	<script src="/angular/angular.js"></script>
    	<script src="/angular-animate/angular-animate.js"></script>
    	<script src="/angular-ui-router/release/angular-ui-router.js"></script>
    	<script src="/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    	<script src="/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    	<script src="/main.js"></script>
	</head>

	<body ng-app='personalSite'>
		<navbar></navbar>
	</body>
</html>