<nav>
    <div class='container'>
        <ul id='desktopNav'>
            <li ng-repeat="item in items">
                <a ui-sref-active='active' ui-sref='{{ item.state }}'><h3>{{ item.label }}</h3></a>
            </li>
        </ul>

        <div id='mobileNav' class="dropdown">
          <button id='mobileNavBtn' class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-bars fa-6x" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="item in items">
                <a ui-sref-active='active' ui-sref='{{ item.state }}'><h1>{{ item.label }}</h1></a>
            </li>
          </ul>
        </div>
    </div>
</nav>