project-header {
	img {
		//margin: auto;
		align: middle;

		&:hover {
			color: darken(green, 10%);
		}
	}

	h1 {
		color: $baseColor;
		display: inline;
	}

	.projectName {
		margin-bottom: 15px;
	}

	.devName {
		align: middle;
		padding-left: 1%;
		padding-right: 1%;
	}
}