site-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  img {
    display: block;
    height: 50px;
    width: 60px;
  }
}

@media only screen and (max-width: 1200px) {
  site-logo {
  	img {
  		height: 96px;
  		width: 115px;
  	}
  }
}