#cuLogo {
	height: 150px;
}

#cuCourseWork {

	.row {
		margin-top: 3%;
	}

	.id {
		text-align: right;
	},

	.name {
		text-align: center;
	},

	.date {
		text-align: left;
	},

	.description {
		text-align: justify;
	},

	// Really weird quark is why this is hear
	// For some reason .id and .name were affecting
	// the alignment of the icons. Was even a problem
	// when I changed the class names to cuId and cuName
	i {
		text-align: center;
	}
}