#wpiLogo {
	height: 150px;
}

#wpiDegree {
	margin: auto;
	width: $dropDownWidth;
	text-align: justify;
}

#wpiDegree {
	section {
		text-align: center;
		margin-top: 1%;
		margin-bottom: 6%;
		h4 {
			margin-top: 3%;
			font-style: italic;
		}
	}
}

#ECECoursesHeading{
	text-align: center;
	margin-top: 3%;
	font-style: italic;
}

.ECECourses {
	.id {
		text-align: justify;
	},
	.name {
		text-align: left;
	}
}
