$dropDownWidth: 70%;

#bgImg1 {
 	background-image: url("images/GOOG_PANO_MARISA_25_o75.jpg");
}

#bgImg2 {
	background-image: url("images/MillsLake-RockyMtnNational_25_o75.jpg");
}

#bgImg3 {
	background-image: url("images/Flatiron-Boulder_25_o75.jpg");
}

#bgImg4 {
	background-image: url("images/EarleBridge-WPI_25_o75.jpg");
}

.bgMainHeading {
	color: white;
	font-size: 96px;
	text-align: center;
	font-family: $site-font;
}

.bgUncover {
	padding-top: 15%;
	padding-bottom: 15%;
	background-color: transparent;
}

.bgHideText{
	opacity: 0.01;
}

@import 'bgSection/main';
@import 'sections/main';