.background {
  background-image: url("images/MillsLake-RockyMtnNational.jpg");
  background-repeat: no-repeat;
  background-position: center 106px;
  background-size: 100%;
  background-attachment: fixed;
}

.backgroundSection{
	margin-top: 40%;
}

#fullstackLogo {
	display: block;
	margin: auto;
	width: 30%;
}	

#plexusLogo {
	display: block;
	margin: auto;
	width: 40%;
}

#cuLogo {
	display: block;
	margin: auto;
	width: 20%;
}

#wpiLogo {
	display: block;
	margin: auto;
	width: 12%;
}

