.backgnd {
  background-image: url("images/MillsLake-RockyMtnNational.jpg");
  background-repeat: no-repeat;
  background-position: center 106px;
  background-size: 100%;
  background-attachment: fixed;
}

.backgndSection{
	margin-top: 40%;
}

.backgnd-cmp {
	margin-top: 10%;
	img {
		display: block;
		margin: auto;
	},
	h1, h2, h3 {
		line-height: 50%;
	}
}

.backgnd-cmp {
	table {
		width: 60%;
		margin: auto;
		td {
			line-height: 100%;
		}
		td.desc {
			text-align: justify;
		}
	}
}

div.backgnd{

	section:last-child {
		padding-bottom: 5%;
	}

}


