contact-section {
	text-align: center;

	h2 {
		text-align: center;
		color: #dd4b39;
	}
}

$contactIconMarginTop: 40px;

.fa-linkedin-square {
	color: #00A0DC;
	margin-top: $navbarOffsetMobile + $contactIconMarginTop;
}

.mailIcon {
	color: #dd4b39;
	margin-top: $contactIconMarginTop;
	cursor: context-menu;
}