section {
	margin-top: 3%;
}

h1 {
	padding-top: 5px;
}

p {
	text-align: justify;
}

ul {
	text-align: left;
}

$navbarOffsetDesktop: 80px;
$navbarOffsetMobile: 140px;

.viewBackgroundTop {
  background-position: relative;
  background-repeat: no-repeat;
  background-position: center $navbarOffsetDesktop;
  background-size: cover;
  background-attachment: fixed;
  font-style: $site-font;
}

@media only screen and (max-width: 1200px) {
	.viewBackgroundTop{
		background-position: center $navbarOffsetMobile;
	}
}

.viewText{
	margin-top: 25%;
	background-color: white;
	width: 100%;
	margin: auto;
	color: black;
	text-align: center;
}

@import 'profile';
@import 'background/main';
@import 'projects/main';
@import 'study';
@import 'contact';