section {
	margin-top: 5%;
}

h1 {
	padding-top: 5px;
	font-family: cursive;
}

h2 {
	font-family: Arial;
}

.navbarOffset {
	margin-top: 106px;
}

.viewText{
	background-color: white;
	width: 70%;
	margin: auto;
	color: black;
	text-align: center;
}

@import 'profile';
@import 'background';