/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("resources/images/GOOG_PANO_MARISA_25.jpg"); 
}

.headerName {
	text-transform: none;
}

.hero-text-box {
	img {
		display: block;
		margin: auto;
		width: 20%;
		border-radius: 250px;
	}
}

@media only screen and (max-width: 1200px) {
	.hero-text-box {
		img {
			width: 50%;
		}
	}
}

/* ------------------------------------- */
/* SKILLS SECTION */
/* ------------------------------------- */

#skills {
	margin-top: 100px;	

	.row {
		margin-top: 20px;
	}

	.rowHeader{
		text-align: right;
	}

	i {
	font-size: 95px;
	margin: 4% 2% 2% 4%; 
	}
}

.profileSection {
	margin-bottom: 100px;
	
	h1 {
		color: $baseColor;
		text-align: center;
	}
	
	hr{
		border-top: 3px solid $baseColor;
	}
}

#tortoiseSVNImg{
	height: 72px;
}

@median on screen and (max-device-width: 480px){
	.col-sm-1 {
		margin-left: 2%;
	}
}




