.profileBackground {
	background-image: url("images/GOOG_PANO_MARISA_25.jpg");
}

.profileUncover {
	padding-top: 7%;
	background-color: transparent;
}

.profileMain {
	font-style: $site-font;
}

#profileMain:last-child {
	margin-bottom: 5%;
}

#profileH1, #profileH2  {
	color: white;
	text-align: center;
	padding-top: -3%;
}

#profileH1 {
	font-size: 96px;
}

#profileH2 {
	font-size: 72px;
}

#profileShot {
	display: block;
	margin: auto;
	width: 20%;
	clip-path: circle( 44% at 51% 47%);
}

#skills {
	.row {
		margin-top: 1%;
	}

	.rowHeader{
		text-align: right;
	}

	i {
	font-size: 95px;
	margin: 4% 2% 2% 4%; 
	}
}

#tortoiseSVNImg{
	height: 72px;
}

@median on screen and (max-device-width: 480px){
	.col-sm-1 {
		margin-left: 2%;
	}
}




